.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 5%;
    padding: 5px 45px;
    margin: 20px 0px;
    margin-right: 15px;
    border-radius: 10px;
    background-color: #ff6060;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
    white-space: nowrap;
}