.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 60px;
    background-color: #000000;
    color: #ffffff;
}

.bottom__content {
    margin: 0px;
    margin-top: 25px;
    line-height: 34px;
}
