.bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
    background-color: #000000;
    color: #ffffff;
}

.bottom__content {
    margin-bottom: 0px;
    margin-top: 25px;
}
