@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/font/Montserrat-Medium.ttf');
    font-weight: 500;
}

* {
    box-sizing: border-box;
}

body {
    color: #ff6060;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
        line-height: 17px;
    }
}
