.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 415px;
    margin: 15px 0px;
    border-radius: 25px;
    overflow: hidden;
}

.gallery__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__button {
    position: absolute;
    top: 40%;
    cursor: pointer;
}

.gallery__button > img {
    width: 47px;
    height: 79px;
}

.gallery__button--left {
    left: 0%;
    padding-left: 35px;
}

.gallery__button--right {
    right: 0%;
    padding-right: 35px;
}

.gallery__pictures {
    position: absolute;
    bottom: 0px;
    left: 50%;
    padding-bottom: 50px;
    color: #ffffff;
    font-size: 18px;
    line-height: 26px;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .gallery {
        height: 255px;
        margin-bottom: 5px;
        border-radius: 10px;
    }

    .gallery__button {
        top: 45%;
    }

    .gallery__button > img {
        width: 12px;
        height: 20px;
    }

    .gallery__button--left {
        padding-left: 5px;
    }

    .gallery__button--right {
        padding-right: 5px;
    }

    .gallery__pictures {
        display: none;
    }
}
