.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 50px;
    margin-top: 25px;
}

.top__link {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.top__link > a {
    text-decoration: none;
}

.top__link > a:link {
    color: inherit;
}

.top__link > a:visited {
    color: #ff6060;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .top {
        padding: 0px 5px;
        margin-top: 5px;
    }

    .top__link {
        width: 40%;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 17px;
    }

    .top__picture {
        width: 40%;
    }

    .top__link > a {
        padding: 0px 5px;
        text-align: center;
    }
}
