.logement {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.logement__primary-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 8px;
}

.logement__primary-information h1 {
    margin-bottom: 0px;
    margin-top: 15px;
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
}

.logement__primary-information p {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 18px;
    line-height: 26px;
}

.logement__primary-information > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logement__primary-information > div:nth-child(1) > div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.logement__primary-information > div:nth-child(2) {
    align-items: flex-end;
}

.logement__secondary-information {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin-top: 8px;
}

.logement__secondary-information > section {
    width: 47%;
    font-size: 18px;
    line-height: 26px;
}

.logement__secondary-information ul {
    height: 249px;
    padding: 30px 15px 0px 15px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f7f7f7;
    font-weight: 400;
    list-style-type: none;
    overflow: auto;
}

.logement__secondary-information p {
    height: 249px;
    padding: 30px 15px 0px 15px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f7f7f7;
    font-weight: 400;
    list-style-type: none;
    overflow: auto;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .logement__primary-information {
        flex-direction: column;
        margin-bottom: 0px;
    }

    .logement__primary-information h1 {
        margin-top: 5px;
        font-size: 18px;
        line-height: 26px;
    }

    .logement__primary-information p {
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .logement__primary-information > div {
        width: 100%;
    }

    .logement__primary-information > div:nth-child(2) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
    }

    .logement__secondary-information {
        flex-direction: column;
        margin-top: 0px;
    }

    .logement__secondary-information > section {
        width: 100%;
        font-size: 12px;
        line-height: 17px;
    }

    .logement__secondary-information ul {
        height: fit-content;
        padding: 20px 10px 0px 10px;
        border-radius: 0px 0px 5px 5px;
    }

    .logement__secondary-information p {
        height: fit-content;
        padding: 20px 10px 0px 10px;
        border-radius: 0px 0px 5px 5px;
    }
}
