.layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    margin-bottom: 100px;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .layout {
        padding: 0px 10px;
    }
}
