@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/font/Montserrat-Regular.ttf');
    font-weight: 400;
}

.section {
    margin-bottom: 25px;
}

.section__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 10px;
    margin: 0px;
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    background-color: #ff6060;
    color: #ffffff;
    font: inherit;
    cursor: pointer;
}

.section__content {
    padding: 30px 15px 0px 15px;
    margin: 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: #f7f7f7;
    font-weight: 400;
    list-style-type: none;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .section__title {
        top: 5px;
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        font-size: 13px;
        line-height: 18px;
    }

    .section__content {
        border-radius: 0px 0px 5px 5px;
        font-size: 12px;
        line-height: 17px;
    }
}
