.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 300px;
    height: 300px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
    );
    background-color: #ff6060;
}

.card__picture {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    object-fit: cover;
}

.card__title {
    width: 45%;
    font-size: 18px;
    line-height: 26px;
}

/* Responsive mobile */
@media screen and (max-width: 768px) {
    .card {
        width: 100%;
        height: 300px;
        border-radius: 10px;
    }
}
